:host {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.time {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.ad {
    font-size: 2rem;
    text-align: center;
}

.endText {
    text-align: center;
}
